body{
  background-color: white;
  /*font-family: sans-serif;*/
  margin-left: 2%;
}

h1 {
  font-size: 22px;
}

div.observationInfo>th ,div.observationInfo>td {
  background-color: white;
  padding-left: 25px;
  font-size: 14px;

}

th, td , tr{
  text-align: center;
  font-size: 18px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;

}

div.input > div{
  display: inline-block;
}

div.observationInfo, div.astronomy, div.atmosphere, div.wind ,div.condition, div.outlook {
  margin-top: 20px;
  /*margin-left: ;*/
}
